{% extends "blog/base.html" %}
{% block content %}
    <h1>{{post.title}}</h1>
    <p>
    published {{post.publish}} by {{post.author}}
    </p>

    {{post.body|linebreaks}}

    {% with post.comments.count as total_comments %}
        <h2> {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2
    {% endwith %}
    
    {% for comment in post.comments.all %}
            <div>
                <p>
                    COMMENT BY {{comment.username}} {{comment.created}}
                </p>
                {{comment.body|linebreaks}}
            </div> 
        {% empty %}
            <p>There are no comments yet.</p>
    {% endfor %}
    <h2>Similar posts</h2>
        {% for post in post.tags.similar_objects %}
        <p>
            <a href="{{ post.get_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        There are no similar posts yet.
        {% endfor %}
    <hr>

    {% if new_comment %}
            <h2>Your comment has been added.</h2>
            
    {% else %}
            <h3><a name="commentform"></a>Leave a Comment</h3>
            <form action="#commentform" method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
    {% endif %}
{% endblock %}